{% extends "parentnello/base.html" %}
{% load static %}


{% block content %}
  <h1>{{ post.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ post.author }}</a></p>
  <p><strong>Content:</strong> {{ post.content }}</p>
  <img src="{% static 'media/' %}{{post.content.image}}" class="img-thumbnail" alt="...">
<br>
  <p><strong>Comments:</strong>
                                {{ post.comments.author }}
                                {{ post.comments.comment }}
                                {{ post.comments.rating }}
  </p>




{% endblock %}